body{
    background-color: rgb(2, 28, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.container{
    text-align: center;
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 2px rgba(255, 255, 255, 0.277);
}

.img{
    width: 150px;
    border-radius: 20px;
    margin-top: 50px;
}

.name{
    margin-top: 30px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    outline: 0;
}

.password{
    margin-top: 20px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    outline: 0;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(2, 28, 30);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s;
}

.name:hover, .password:hover{
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: rgb(0, 187, 200);
}

.name:focus, .password:focus{
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: rgb(0, 117, 125);
    color: rgb(0, 117, 125);
}

.btn:hover{
    background-color: rgb(0, 117, 125);
    box-shadow: 0px 0px 20px 2px rgb(0, 187, 200);
}

.eye{
    position: absolute;
    width: 12px;
    cursor: pointer;
    margin-top: 23px;
    margin-left: -15px;
}

.check{
    margin-left: -75px;
    width: 15px;
    margin-top: 2px;
    
}

.show{
    font-size: 10px;
    color: darkgray;
    
}

.reset{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(2, 28, 30);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s;
}

.reset:hover{
    background-color: rgb(0, 117, 125);
    box-shadow: 0px 0px 20px 2px rgb(0, 187, 200);
}

form img {
    width: 150px;
    border-radius: 20px;
    margin-top: -200px;
    position: absolute;
    margin-left: -75px;
}

p {
    margin-left: 0px;
    margin-top:  0px;
    max-width: 180px;
    font-size: 10px;
    overflow: visible;
    
}

form li, div > p {
    background: rgb(0, 117, 125);
    justify-content: space-between;
    margin-bottom: -10px;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    margin-left: -43px;
    margin-top: 200px;
    display: inline-block;
    width: 200px;
    color: white;
}

.upload{
    background-color: rgb(0, 187, 200);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.546);
    text-shadow: 2px 2px 5px black;

}

#massage{
    position: absolute;
    color: white;
    
}

.massage{
    color: white;
    font-size: 12px;
    margin-left: 67px;
    width: 158px;
    margin-top: 10px;
    padding: 5px;
}

.or{
    margin-left: 45%;
    color: white;
    font-family: ruge boogie;
    font-size: 50px;
}

.logInLink{
    text-align: center;
    margin-bottom: 10%;
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 2px rgba(255, 255, 255, 0.277);
    padding: 1px;
}

.h1{
    border: 1px solid rgb(0, 117, 125);
    color: rgb(0, 117, 125);
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    font-size: 20px;
    margin-left: 165px;
    transition: .6s;
}

h3{
  position: absolute;
  margin-left: 20px;
}

a{
    text-decoration: none;
}

.h1:hover{
    background-color: rgb(0, 117, 125);
    color: white;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    font-size: 20px;
    margin-left: 165px;
}